<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="m1013">

  <!-- Arguments -->
  <xacro:arg name="color" default="white"/>
  <xacro:arg name="namespace" default=""/>
  <xacro:arg name="use_gazebo" default="false"/>
  <xacro:arg name="use_mujoco" default="false"/>
  <xacro:arg name="host" default=""/>
  <xacro:arg name="port" default=""/>
  <xacro:arg name="rt_host" default=""/>
  <xacro:arg name="mode" default=""/>
  <xacro:arg name="model" default=""/>

  <!-- Gripper-related args -->
  <xacro:arg name="gripper_prefix"      default=""/>
  <xacro:arg name="gripper_parent_link" default="vision_bracket"/>

   world → base_link
  <link name="world"/>
  <joint name="world_fixed" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="world"/>
    <child link="base_link"/>
  </joint>

  <xacro:include filename="$(find dsr_cumotion)/urdf/macro.m1013.white.xacro"/>
  <xacro:m1013 namespace="$(arg namespace)"/>

  <link name="tool0"/>
  <joint name="joint_6-tool0" type="fixed">
    <origin rpy="0 0 1.57" xyz="0 0 0"/>
    <parent link="link_6"/>
    <child link="tool0"/>
  </joint>

<link name="gripper_frame">
    <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.01"/>
    <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
</link>

<joint name="gripper_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0"/>
    <parent link="tool0"/>
    <child  link="gripper_frame"/>
</joint>

<link name="grasp_frame">
    <inertial>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <mass value="0.01"/>
    <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001"/>
    </inertial>
</link>

<joint name="grasp_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0.12"/>
    <parent link="gripper_frame"/>
    <child  link="grasp_frame"/>
</joint>

  <!-- ros2_control for robot -->
  <xacro:include filename="$(find dsr_cumotion)/urdf/m1013.ros2_control.xacro"/>
  <xacro:m1013_ros2_control
    name="m1013"
    host="$(arg host)"
    rt_host="$(arg rt_host)"
    port="$(arg port)"
    mode="$(arg mode)"
    model="$(arg model)"/>

</robot>