<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Macro definition for M1013 SRDF -->
  <xacro:macro name="m1013_srdf" params="robot_name">

    <robot name="${robot_name}">

      <disable_collisions link1="base_link" link2="link_1" reason="Adjacent"/>
      <disable_collisions link1="base_link" link2="link_3" reason="Never"/>
      <disable_collisions link1="link_1" link2="link_2" reason="Adjacent"/>
      <disable_collisions link1="link_1" link2="link_3" reason="Never"/>
      <disable_collisions link1="link_1" link2="link_5" reason="Never"/>
      <disable_collisions link1="link_1" link2="link_6" reason="Never"/>
      <disable_collisions link1="link_2" link2="link_3" reason="Adjacent"/>
      <disable_collisions link1="link_2" link2="link_4" reason="Never"/>
      <disable_collisions link1="link_2" link2="link_5" reason="Never"/>
      <disable_collisions link1="link_2" link2="link_6" reason="Never"/>
      <disable_collisions link1="link_3" link2="link_4" reason="Adjacent"/>
      <disable_collisions link1="link_3" link2="link_5" reason="Never"/>
      <disable_collisions link1="link_3" link2="link_6" reason="Never"/>
      <disable_collisions link1="link_4" link2="link_5" reason="Adjacent"/>
      <disable_collisions link1="link_4" link2="link_6" reason="Never"/>
      <disable_collisions link1="link_5" link2="link_6" reason="Adjacent"/>
      <disable_collisions link1="link_6" link2="tool0" reason="Adjacent"/>
      <disable_collisions link1="link_6" link2="vision_bracket" reason="Never"/>
      <disable_collisions link1="tool0" link2="vision_bracket" reason="Adjacent"/>
      <disable_collisions link1="tool0" link2="d435i_camera" reason="Never"/>
      <disable_collisions link1="vision_bracket" link2="d435i_camera" reason="Adjacent"/>

    </robot>

  </xacro:macro>
</robot>